<h1>Sign In</h1>
<%= form_with url: sign_in_path do |f| %>
    <p>
        <%= f.label 'Username:'%><br>
        <%= f.text_field :user_name, id: 'user_name' %>
    </p>

    <p>
        <%= f.submit 'Log In' %>
    </p>
<% end %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>