<div class="text-center flex  m-5 p-5">
<h1>Sign In</h1>
<%= form_with url: sign_in_path do |f| %>
  <div class="form-group">

    <p>
        <%= f.label 'Username:'%><br>
        <%= f.text_field :user_name, id: 'user_name' %>
    </p>

    <p>
        <%= f.submit 'Log In', class:"btn btn-primary" %>
    </p>
  </div>

<% end %>
    <%= link_to 'Sign Up', sign_up_path, class:"btn btn-primary" %>
</div>