<h1>Sign Up</h1>
<%= form_with model: @user, url: sign_up_path  do |f| %>
    <p>
        <%= f.label 'Username' %><br>
        <%= f.text_field :user_name %>
        </p>
    <p>
        <%= f.label 'Fullname' %><br>
        <%= f.text_field :full_name %>
        </p>
    <p>
    <p>
         <%= f.label 'Profile Picture' %>
         <%= f.file_field :photo %>
        </p>
        <%= f.submit 'Sign Up' %>
            </p>
<% end %>
